.contactsBlock {
    background-color: #0B2447;
    border: 1px solid #00b5ff;

    flex-wrap: wrap;
    margin: 0 auto;
}

.contactsForm {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    text-align: center;

    padding-top: 40px;
    padding-bottom: 40px;
}


.dataContainer {
    width: 550px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0 10px 10px 10px;
    gap: 30px;
}

.text {
    color: #00b5ff;
    font-size: 20px;
}

.textField {
    display: flex;
    flex-direction: column;

    width: 260px;
}

.textArea {
    margin-top: 20px;
    padding-bottom: 30px;
    background-color: #0B2447;
    border: 2px solid #00b5ff;
    resize: none;

    color: #00b5ff;
    font-size: 1.3rem;
}

.textArea::placeholder {
    color: #00b5ff;
    opacity: 0.5;
}

.textArea:focus {
    outline: none;
    border-image: linear-gradient(to right, #2a40c2, #00b5ff);
    border-image-slice: 1;
}

.contactsArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding-right: 60px;
    width: 200px;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 0 30px;
}

.icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid #00b5ff;
    transform: rotate(45deg);
}

.photoContainer {
    width: 400px;
    height: 600px;
    background: url("../../media/1.jpg") center 50%/cover;
}