.nav {
    display: flex;
    justify-content: right;
    flex-direction: row;

    color: #00b5ff;
    cursor: pointer;
    gap: 20px;
    list-style: none;
    font-size: 20px;

    text-align: -webkit-match-parent;
}

.navItem {

}

.navItem:hover {
    text-decoration: underline;
}