.box {
    max-width: 300px;
    min-width: 250px;
    background-color: #08172f;
    border: 2px solid #00b5ff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: 1px 0 10px 1px #00b5ff;
}

.commonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    row-gap: 30px;
}

.commonBlock {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #00b5ff;
    background-color: #0B2447;
}

.title {
    color: #00b5ff;
}

.description {
    width: 250px;
    color: #00b5ff;
    text-align: left;
    box-sizing: border-box;
}

h2 {
    color: #00b5ff;
    text-align: center;
    font-size: 30px;
}

p {
    color: #00b5ff;
    text-align: center;

    font-size: 20px;
}

hr {
    border: 1px solid #00b5ff;
    width: 100px;
}