.projectsBlock {
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    height: 100%;
    width: 80%;

    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid #00b5ff;
}